# Directus configuration
DIRECTUS_SECRET=secure_secret
DIRECTUS_ADMIN_EMAIL=e_mail
DIRECTUS_ADMIN_PASSWORD=secure_password
DIRECTUS_PUBLIC_URL=directus_url
DIRECTUS_LICENSE_KEY=DXXXX-XXXXX-XXXXX-XXXXX-XXXXC

# Nuxt configuration
NODE_VERSION=22
NUXT_DIRECTUS_URL=http://directus:8055
NUXT_PUBLIC_DIRECTUS_URL=directus_url
NUXT_PUBLIC_BASE_URL=website_url

# CORS
CORS_ENABLED=true
CORS_ORIGIN=website_url