# Directus configuration
DIRECTUS_SECRET=secure_secret
DIRECTUS_ADMIN_EMAIL=e_mail
DIRECTUS_ADMIN_PASSWORD=secure_password
DIRECTUS_PUBLIC_URL=directus_url

# Nuxt configuration
NUXT_PUBLIC_DIRECTUS_URL=directus_url
NUXT_PUBLIC_BASE_URL=website_url

# CORS
CORS_ENABLED=true
CORS_ORIGIN=website_url