# Directus configuration
DIRECTUS_SECRET=secure_secret
DIRECTUS_ADMIN_EMAIL=e_mail
DIRECTUS_ADMIN_PASSWORD=secure_password
DIRECTUS_PUBLIC_URL=http://localhost:8055

# Nuxt configuration
NUXT_DIRECTUS_URL=http://directus:8055
NUXT_PUBLIC_DIRECTUS_URL=http://localhost:8055
NUXT_PUBLIC_BASE_URL=http://localhost:3000

# CORS
CORS_ENABLED=true
CORS_ORIGIN=http://localhost:3000